@scope (#about) {
  :scope {
    justify-content: left;
    align-items: normal;
    color: var(--secondary-text-color);
    background-color: var(--secondary-background-color);
  }

  header {
    margin: 2em;
  }

  header h1,
  header h2 {
    width: fit-content;
    opacity: 0;
  }

  header h1.visible {
    animation: slideRight 1s ease-out forwards;
  }

  header h2.visible {
    animation: slideUp 1s ease-out forwards;
  }

  header h1 {
    font-size: 3em;
  }

  header h2 {
    font-size: 2em;
  }

  header p {
    font-size: 1.5em;
    width: 80%;
    opacity: 0;
  }

  header p.visible {
    animation: slideUp 1s ease-out forwards;
    animation-delay: 0.5s;
  }

  hr {
    height: 1px;
    background-color: var(--primary-background-color);
    border: none;
  }

  div {
    padding: 2em;
  }

  #langs {
    width: fit-content;
    font-size: 2em;
    opacity: 0;
  }

  #langs.visible {
    animation: slideRight 1s ease-out forwards;
    animation-delay: 0.5s;
  }

  #langs-subtext {
    width: fit-content;
    font-size: 1.5em;
    opacity: 0;
  }

  #langs-subtext.visible {
    animation: slideRight 2s ease-out forwards;
    animation-delay: 0.5s;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
  }

  li {
    display: flex;
    flex-direction: column;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    margin: 10px;
    padding: 10px;
    border: var(--primary-border);
    border-radius: 10px;
    opacity: 0;
  }

  li.visible {
    animation: slideUp 1s ease-out forwards;
    animation-delay: 1s;
  }
}
