@import url("https://fonts.googleapis.com/css2?family=Spectral&family=Karla");

:root {
  --background-color: rgba(0, 0, 0, 0.7);
  --accent-list: #4a90e2, #3fbdd7, #50e3c2;
  --accent-start: #4a90e2;
  --accent-mid: #3fbdd7;
  --accent-end: #50e3c2;
  --button-accent: #000;
  --text-color: #fff;
  --secondary-text-color: #000;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: rgba(255, 255, 255, 0.7);
    --button-accent: #fff;
    --text-color: #000;
    --secondary-text-color: #fff;
  }
}

body {
  margin: 0;
  padding: 0;
  background-image: url("/assets/images/back-ground.webp");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
  overflow-y: hidden;
}

.title {
  font-family: "Spectral", Arial, sans-serif;
  font-size: 30px;
  background: linear-gradient(
    to right,
    var(--text-color) 30%,
    var(--accent-start) 45%,
    var(--accent-mid) 50%,
    var(--accent-end) 55%,
    var(--text-color) 75%
  );
  background-size: 250% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
}

.center-img {
  border-radius: 50%;
  max-width: 100px;
  margin: 0 auto;
  animation: zoomInPlace 0.5s ease-out forwards;
}

.info-box {
  position: relative;
  z-index: 1;
  background-color: var(--background-color);
  backdrop-filter: blur(10px);
  color: var(--text-color);
  padding: 20px 10px;
  margin: 20px;
  border-radius: 50px;
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 100vw;
  box-shadow: 0;
  border: 2px solid transparent;
}

.info-box::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: linear-gradient(70deg, var(--accent-list));
  border-radius: 50px;
  z-index: -1;
  mix-blend-mode: overlay;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.info-box:hover::after {
  opacity: 0.7;
}

.details {
  font-family: "Karla", Arial, sans-serif;
}

.message {
  margin: 3px auto;
  background-color: var(--background-color);
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 30px;
  animation: fadeIn 2s ease-in-out;
}

footer {
  font-family: "Spectral", Arial, sans-serif;
  background: linear-gradient(
    to right,
    var(--text-color) 30%,
    var(--accent-start) 45%,
    var(--accent-mid) 50%,
    var(--accent-end) 55%,
    var(--text-color) 75%
  );
  background-size: 250% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
}

img:not([src]),
img[src=""],
img[src^="invalid"] {
  display: none;
  animation: none;
}

button {
  display: inline-block;
  background: linear-gradient(
    to right,
    var(--button-accent) 10%,
    var(--accent-start) 25%,
    var(--accent-mid) 50%,
    var(--accent-end) 75%,
    var(--button-accent) 90%
  );
  background-size: 200%;
  background-position: -50%;
  color: var(--text-color);
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  padding: 0 10px;
  outline: 1px solid var(--accent-mid);
  border: none;
  border-radius: 5px;
  transition: color 1s ease-in-out, background-position 1s ease-in-out;
}

button:hover {
  background-position: 50%;
  color: var(--secondary-text-color);
}

ul {
  list-style-position: inside;
}

li {
  margin-bottom: 3px;
}

i {
  font-family: "Spectral", Arial, sans-serif;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  max-width: 100vw;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.social-icons img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
  border-radius: 50%;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.social-icons img:active {
  transform: scale(0.9);
}

@keyframes flyInPlace {
  0% {
    transform: translateY(100vh) scale(1);
  }
  60% {
    transform: translateY(0) scale(1.05);
  }
  80% {
    transform: translateY(0) scale(0.95);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes flipInWobble {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    opacity: 1;
    transform: rotateX(20deg);
  }
  70% {
    transform: rotateX(-10deg);
  }
  85% {
    transform: rotateX(5deg);
  }
  100% {
    transform: rotateX(0);
  }
}

@keyframes zoomInPlace {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideInWobble {
  0% {
    transform: translateX(-100px);
  }
  30% {
    transform: translateX(15px);
  }
  60% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInBounce {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  30% {
    transform: scale(0.9);
    opacity: 1;
  }
  50% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shine {
  0% {
    background-position: 120% 0;
  }
  100% {
    background-position: -20% 0;
  }
}
